  body {
    background-color:#5E91F8;
  }
  #container {
    color:white;
    font-size:5vh;
    margin-top:10%;
  }
  #welcome {
    font-family:cursive;
    text-align:center;
  }
  #loginbox {
    background-color:white;
    width:60%;
    height:50vh; 
    margin-left:21%;
    margin-top:5%;
    border-radius:50px;
    box-shadow:20px 20px 45px 1px #424242;
  }
  #h2 {
    font-size:6vh;
    text-align:center;
    color:#5E91F8;
    font-family:"kalinga";
    margin-bottom:2%;
  }
  #id {
    font-size:3vh;
    width:80%;
    height:8vh;
    margin-left:10%;
    margin-top:0%; 
    border-radius:50px;
  }
  #pwd {
    font-size:3vh;
    width:80%;
    height:8vh;
    margin-top:2%;
    margin-left:10%;
    border-radius:50px;
  }
  input{
    outline:none;
  }
  input:focus {
    box-shadow:1px 1px 1px 4px #81BEF7; 
  }
  input::placeholder {
  color:lightgray;
  }
  #login {
  color:white;
  background-color:#5E91F8;
  font-size:4vh;
  width:80%;
  height:8vh;
  margin-top:5%;
  margin-left:10%;
  border-radius:50px;
  font-family:cursive;
  }
  button{
    outline:none;
  }
  button:focus {
    box-shadow:1px 1px 0px 4px #81BEF7; 
  }
  #login:active {
  background-image: url(images/next_btn_click.png);
  }
  #f {
  font-family:"kalinga";
  font-size:2.5vh;
  margin-top:3%;
  margin-left:22%;
  }
 #d {
  font-family:"kalinga";
  font-size:2.5vh;
  margin-top:3%;
  margin-left:58.5%;
  }